<%- content_for(:head) do -%>
<%= javascript_include_tag "welcome.js" -%>
<%- end -%>


<h1>Velkommen til hjemmesiden for børnelinks</h1>
<div class="result">

</div>
<script type="text/javascript">
  $(document).ready(function() {
    populateLinks();
   });

  </script>
  </br>
  &nbsp;
  <hr>
  <p>
    <%= link_to "Opret nyt link", new_link_path %>
  <p>
