<h1>Velkommen til hjemmesiden for børnelinks</h1>
<p>Her finder du alle de bedste links</p>
<div class="result">

</div>
<script type="text/javascript">
$(document).ready(function() {
    $.getJSON('/approved.json', function(data) {
$.each(data, function(index, value) { 
  $('.result').append('<p><a href="' + value.link.url + '">' + value.link.name + '</a></p>');

});

  });
    });
</script>
